n8n_VectorStore_PDF.json
{
  "name": "VectorStore_PDF",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1xKYWFiz0cnnmfBodLfu18QO19IWXFxa8",
          "mode": "list",
          "cachedResultName": "IPC-Project",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xKYWFiz0cnnmfBodLfu18QO19IWXFxa8"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c9a6c9b2-9376-463d-aa9e-cb9198546a85",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ERFfdIBGYHB6JBmc",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.shortcutDetails.targetId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "3fe02346-0753-4c80-b2d1-fc7b5817f2d0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ERFfdIBGYHB6JBmc",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecodeindex",
          "mode": "list",
          "cachedResultName": "pinecodeindex"
        },
        "embeddingBatchSize": 512,
        "options": {
          "pineconeNamespace": "IPC"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        0
      ],
      "id": "625868c2-0f11-470d-802a-6b314a692657",
      "name": "Pinecone Vector Store",
      "alwaysOutputData": false,
      "credentials": {
        "pineconeApi": {
          "id": "p26URtOfqI3uSGu2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        192
      ],
      "id": "5837c5a7-f4c1-4960-bad8-ab2dbdfd0f25",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zZIF6s50IBj2svxl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        208
      ],
      "id": "b4bf5366-615d-4950-a301-295cdcb9d9e2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        640,
        416
      ],
      "id": "8989695e-6a23-4e4c-b074-82c9207ab934",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f0fe695-8a54-4f18-a7fd-07247208eef7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce369cc3f67841c31ec3aba8643eece42c38b379b52634b7f68d9e10ecff5629"
  },
  "id": "oDDzmt7PilWaBsVJ",
  "tags": []
}