n8n_RAG_Telegram_Chatbot.json
{
  "name": "RAG_Telegram_Agent1",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpfuYou are a student FAQ AI specialized in the FAQ. You provide clear, accurate, and concise answers based on student handbooks. Respond like a knowledgeable associate—avoid speculations and anything out of context or whose context is irrelevant to the question. You should say, Sorry!! cannot find the relevant information from the knowledge base. Do not provide any additional information. You should not generate or interpret any response from your knowledge.l assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -32,
        -16
      ],
      "id": "4cb08d07-09f5-47ed-9a2c-4289c454e5e0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        192
      ],
      "id": "42f918a3-6b2f-4a57-94db-ce184201e669",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zZIF6s50IBj2svxl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        192
      ],
      "id": "3cb0fa5c-0d19-44f7-a87d-3dda2f113237",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        96,
        192
      ],
      "id": "46b2a253-6c80-442a-9f59-dba2f9be2a31",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecodeindex",
          "mode": "list",
          "cachedResultName": "pinecodeindex"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -80,
        352
      ],
      "id": "5e074779-b663-475c-ab93-71d7d760978f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ZIxjTGJQdCwIE8CJ",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        480
      ],
      "id": "69b475c8-dae6-45f7-8763-75067770bccc",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zZIF6s50IBj2svxl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        384
      ],
      "id": "93a0de3d-cb41-4794-99f1-95b68c9e2627",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zZIF6s50IBj2svxl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -16
      ],
      "id": "469a81fa-6718-486f-81bc-d1c5398ec5cc",
      "name": "Telegram Trigger",
      "webhookId": "fd45dda7-96fa-44e0-bd83-1a070c58fe60",
      "credentials": {
        "telegramApi": {
          "id": "LVjyfvQivnKJZShP",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -16
      ],
      "id": "68d2aa2f-f9e9-4749-8f3d-a5c0d5afeab4",
      "name": "Send a text message",
      "webhookId": "69561ee1-80c7-4e05-855e-a00e01b30e8d",
      "credentials": {
        "telegramApi": {
          "id": "LVjyfvQivnKJZShP",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5195a15a-0aae-44f5-8556-66eb8f0ef86b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce369cc3f67841c31ec3aba8643eece42c38b379b52634b7f68d9e10ecff5629"
  },
  "id": "U4QHlUUOOTyx68A9",
  "tags": []
}