studenthandbook_trigger_and_processing.json
{
  "name": "crtnvecdb",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "16OkWaLCXWH2uynbfLA2vfLndbHcoVW5q",
          "mode": "list",
          "cachedResultName": "studenthandbook",
          "cachedResultUrl": "https://drive.google.com/drive/folders/16OkWaLCXWH2uynbfLA2vfLndbHcoVW5q"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        400,
        48
      ],
      "id": "7cf4dbdc-eaed-4512-8c31-fdd9b800e257",
      "name": "Student Handbook Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yx6seYwbDYbdWlF3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Map folder IDs to namespace names\nconst folderToNamespace = {\n  '16OkWaLCXWH2uynbfLA2vfLndbHcoVW5q': 'studenthandbook',\n  '1W3Fnlz0W033AufgXRw4ZP8gUZJJf1ZDY': 'recipes',\n  '1d3fw3hCHhk9tiprV6KxgjGbfNqdKTXZZ': 'onboarding'\n};\n\n// Get the parent folder ID from the input\nconst parentFolderId = $input.all()[0].json.parents[0];\n\n// Determine the namespace based on the folder\nconst namespace = folderToNamespace[parentFolderId] || 'unknown';\n\n// Add namespace to the data\nreturn {\n  ...($input.all()[0].json),\n  namespace: namespace,\n  document_type: namespace.replace(/([A-Z])/g, '_$1').toLowerCase()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        288
      ],
      "id": "7af2f0e6-6c6f-4049-b5d9-cd2925e3cd70",
      "name": "Map Folder to Namespace"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        864,
        288
      ],
      "id": "621a263a-eef0-4138-a15a-5770b304193a",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yx6seYwbDYbdWlF3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "icn8n",
          "mode": "list",
          "cachedResultName": "icn8n"
        },
        "options": {
          "pineconeNamespace": "={{$json.namespace}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1056,
        288
      ],
      "id": "5359630f-1f3c-4a8e-a0ba-c364473aad15",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "mIYialhxgxDUpr52",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1072,
        528
      ],
      "id": "5e68d3f0-018b-488a-99d1-e359fa27b3d5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ELj1XyaYsnxWMTpN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              },
              {
                "name": "id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "document_type",
                "value": "={{ $json.document_type }}"
              },
              {
                "name": "namespace",
                "value": "={{ $json.namespace }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1200,
        464
      ],
      "id": "32484aed-1449-41a8-8149-633b9a6aeef1",
      "name": "Document Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1312,
        736
      ],
      "id": "53093dc5-0f82-4ebc-b100-f0e32d2bdb51",
      "name": "Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1W3Fnlz0W033AufgXRw4ZP8gUZJJf1ZDY",
          "mode": "list",
          "cachedResultName": "Recipes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1W3Fnlz0W033AufgXRw4ZP8gUZJJf1ZDY"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        384,
        272
      ],
      "id": "274690d4-3c56-4297-9612-db388809179e",
      "name": "RecipefolderTrigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yx6seYwbDYbdWlF3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1d3fw3hCHhk9tiprV6KxgjGbfNqdKTXZZ",
          "mode": "list",
          "cachedResultName": "Onboarding_Assitant",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1d3fw3hCHhk9tiprV6KxgjGbfNqdKTXZZ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        400,
        512
      ],
      "id": "8884fa79-d8fc-4d62-b288-d8d89a312e8e",
      "name": "onboardingTrigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yx6seYwbDYbdWlF3",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Student Handbook Trigger": {
      "main": [
        [
          {
            "node": "Map Folder to Namespace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Folder to Namespace": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "RecipefolderTrigger": {
      "main": [
        [
          {
            "node": "Map Folder to Namespace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "onboardingTrigger": {
      "main": [
        [
          {
            "node": "Map Folder to Namespace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ovBKdGFXJaVSy5RN"
  },
  "versionId": "3e0983e1-9bc5-4651-8be2-7a1b85c26257",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9648c4ee61f573d4d9dcbb8adcf42bb7a2355892d8f4813e649217b3c3278859"
  },
  "id": "ovBKdGFXJaVSy5RN",
  "tags": []
}